@import-normalize;
@import "navbar.css";
@import "hero.css";
@import "intro.css";
@import "buttons.css";
@import "cards.css";
@import "services.css";
@import "carousel.css";
@import "destinations.css";
@import "testimonials.css";
@import "footer.css";
@import "contact.css";
@import "map.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap");

*,
*::before,
*::after,
html,
body,
h1 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arvo", serif;
  /* font-family: "Lato", sans-serif; */
  /* font-family: 'Bodoni Moda', serif; */
}

.wrapper {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.section-title {
  text-align: center;
  padding: 60px 0;
  font-weight: 300;
  font-size: 3rem;
  font-family: "Bodoni Moda", serif;
}

:root {
  --blue: #8bbfdd;
  --darkblue: #7592ac;
  --lightgray: #fafafa;
  --gold: hsl(45, 34%, 55%);
}

@media (min-width: 676px) {
  .section-title {
    font-size: 4rem;
  }
}
