.cards-page-title {
  text-align: center;
  margin: 60px 0;
  font-weight: 300;
  font-size: 4rem;
  font-family: "Bodoni Moda", serif;
}

.cards {
  padding: 40px;
  padding-bottom: 150px;
  background: var(--lightgray);
}

.cards-items {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  grid-gap: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s linear;
}

.card-img:hover {
  transform: scale(1.05);
}

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  position: relative;
  margin: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.card-category {
  font-size: 0.75rem;
  position: absolute;
  padding: 5px 10px;
  right: 5px;
  top: 5px;
  background: #fff;
  opacity: 0.8;
  z-index: 1;
}

.card-categories {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-list-item {
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  position: relative;
}

.active:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 8px;
  width: 100%;
  border: solid 3px var(--gold);
  border-color: var(--gold) transparent transparent transparent;
  border-radius: 50%;
}

.card-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-text {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

@media (min-width: 676px) {
  .card-categories {
    flex-direction: row;
  }

  .category-list-item {
    margin-right: 40px;
  }

  .cars-items {
    width: 80%;
  }
}
