.carousel {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  position: relative;
  margin: 0px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.carousel-inner {
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-top: 50px;
}

.carousel-text {
  width: 65%;
  text-align: center;
  font-weight: 400;
  color: white;
  line-height: 1.4;
  padding-bottom: 30px;
}

.slide {
  opacity: 0.8;
  transition: all 450ms ease;
}

.slide.carousel-active {
  opacity: 1;
  transition: all 450ms ease;
}

.carousel-arrow {
  z-index: 1;
  color: var(--gold);
  position: absolute;
  font-size: 2.5rem;
  font-weight: 200;
  top: 50%;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  left: -40px;
  transition: 0.3s ease;
}

.right-arrow {
  right: -40px;
  transition: 0.3s ease;
}

.left-arrow:hover {
  left: -50px;
}

.right-arrow:hover {
  right: -50px;
}

.quotes {
  position: absolute;
  color: #fff;
  font-size: 120px;
  opacity: 0.4;
  display: none;
}

.quotes-left {
  left: 80px;
  top: 80px;
}

.quotes-right {
  right: 80px;
  bottom: 80px;
}

.avatar {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.carousel-username {
  margin-top: 10px;
  color: #fff;
}

@media (min-width: 790px) {
  .carousel {
    width: 58%;
  }

  .quotes {
    display: block;
  }
}
