.footer-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #0f374f;
  color: #fff;
  padding-bottom: 60px;
}

.footer-title {
  font-size: 1rem;
  font-weight: 300;
  margin: 20px 0;
}

.footer-title-wrapper {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  cursor: pointer;
}

.footer-title-wrapper:last-child {
  border-bottom: 1px solid white;
}

.footer-title-wrapper:hover {
  color: var(--gold);
  transition: all 0.3s ease-in;
}

.footer-icon {
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
}

.footer-icon-active {
  transform: rotate(180deg);
}

.footer-contact-icon {
  margin-right: 10px;
  color: var(--gold);
}

.footer-social-icon {
  font-size: 1.3rem;
  margin-right: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
  display: inline-block;
}

.footer-social-icon:hover {
  color: var(--gold);
}

.footer-list {
  list-style: none;
  padding-left: 20px;
  font-size: 0.9rem;
  opacity: 0;
  max-height: 0;
  transition: all 0.4s ease-out;
}

.footer-open {
  opacity: 1;
  max-height: 1000px;
}

.footer-list li {
  margin-bottom: 18px;
  padding: 0;
}

@media (min-width: 992px) {
  .footer-wrapper {
    flex-direction: row;
    padding-top: 20px;
  }

  .footer-title-wrapper {
    border: none;
    cursor: default;
  }

  .footer-plus-icon {
    display: none;
  }

  .footer-icon {
    display: none;
  }

  .footer-title-wrapper:hover {
    color: #fff;
  }
}
