.hero-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
}

.hero-text {
  text-align: center;
  color: #fff;
  opacity: 0.9;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.hero-title {
  font-size: 3rem;
  font-weight: 300;
}

.hero-subtitle {
  margin-top: 20px;
  font-size: 1.5rem;
  margin-bottom: 80px;
}

.arrow {
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}
