.intro-wrapper {
  padding: 100px 40px;
  background: var(--lightgray);
  position: relative;
  z-index: 1;
  width: 100%;
}

.intro-content-wrapper {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.intro-img {
  width: 100%;
  z-index: 1;
}

.intro-decoration {
  opacity: 0.5;
  position: absolute;
  height: 400px;
  bottom: -50px;
  right: 0px;
  z-index: -1;
}

.intro-img-container {
  width: 100%;
  max-width: 650px;
}

.intro-info {
  background: #fff;
  padding: 40px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.intro-info-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 200;
  color: var(--gold);
  position: relative;
  margin-left: 50px;
}

.intro-info-title-accent {
  font-size: 8rem;
  margin-right: 3px;
  font-family: "Bodoni Moda", serif;
  position: absolute;
  top: -100px;
  left: -80px;
}

.intro-text {
  font-size: 0.9rem;
  line-height: 2;
  color: #989898;
}

@media (min-width: 900px) {
  .intro-content-wrapper {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 140px 140px 140px 140px;
  }

  .intro-img-container {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
  }

  .intro-info {
    grid-row: 3 / span 2;
    grid-column: 3 / -1;
  }

  .intro-decoration {
    top: 300px;
    right: 0px;
  }
}
