.navbar {
  height: 70px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0 40px;
  background-color: transparent;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: all 0.7s ease-in;
}

.nav-background {
  color: #4b5459;
  background-color: #fff;
  border-bottom: 0.5px solid #d9dcdd;
}

.nav-background .fa-bars {
  color: #4b5459;
}

.navbar-logo {
  cursor: pointer;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-left: 2rem;
  padding-right: 40px;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 1rem;
  position: relative;
}

.nav-links::after {
  content: "";
  display: block;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

.nav-links:hover::after {
  transform: scale(1, 1);
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    position: sticky;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    margin-left: 0;
    padding-right: 0;
  }

  .nav-menu.navbar-active {
    background: var(--blue);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: #fff;
  }

  .nav-links::after {
    display: none;
  }

  .nav-links:hover {
    background: #fff;
    border: none;
    color: var(--blue);
  }

  .navbar-logo {
    position: absolute;
    top: 10;
    left: 20px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 10;
    right: 20px;
    font-size: 1.6rem;
    cursor: pointer;
  }

  .fa-times {
    color: #242424;
    font-size: 1.5rem;
  }

  .nav-links-mobile {
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: var(--blue);
    transition: 250ms;
  }

  .btn-contact {
    display: none;
  }
}
